<p class="center bold">{{request.title}}</p>
<form class="form-horizontal" role="form" name="featureRequestForm">
    <div class="form-group">
        <label class="col-sm-2 control-label">Title</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" placeholder="Title" ng-model="request.newFeatureRequest.title" required="">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Description</label>
        <div class="col-sm-4">
            <textarea class="form-control" placeholder="Description" ng-model="request.newFeatureRequest.description" required=""></textarea>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Client</label>
        <div class="col-sm-4">
            <select class="form-control" ng-model="request.newFeatureRequest.client" required>
                <option ng-repeat="client in request.clients" value="{{client}}">{{client.name}}</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Client Priority</label>
        <div class="col-sm-4">
            <input type="number" class="form-control" placeholder="Client Priority" ng-model="request.newFeatureRequest.clientPriority" required>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Target Date</label>
        <div class="col-sm-4">
            <p class="input-group">
                <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="request.newFeatureRequest.targetDate" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" required />
                <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
            </p>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Ticket URL</label>
        <div class="col-sm-4">
            <input type="url" class="form-control" placeholder="URL" ng-model="request.newFeatureRequest.ticketURL" required>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Product</label>
        <div class="col-sm-4">
            <select class="form-control" ng-model="request.newFeatureRequest.product" required>
                <option ng-repeat="product in request.products" value="{{product}}">{{product.name}}</option>
            </select>
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-primary" ng-click="request.submitRequest()">Submit</button>
        </div>
    </div>
</form>
{{request.newFeatureRequest}}
